<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Task_SearchLog::view" title="Search Logs" module="Task_SearchLog" sortOrder="10" action="log/searchlog/index" resource="Task_SearchLog::view"/>
    </menu>
</config>